section.number
  .container
    ul.number-list
      li.number-item
        h4.number-item-count 42
        span.number-item-title Web design projects
      li.number-item
        h4.number-item-count 123
        span.number-item-title Happy client
      li.number-item
        h4.number-item-count 15
        span.number-item-title Award winner
      li.number-item
        h4.number-item-count 99
        span.number-item-title Cup of coffee
      li.number-item
        h4.number-item-count 24
        span.number-item-title Members