section.service
  .container 
    +blockBox("We work with","Amazing Services")
    ul.service-list
      +serviceItem("../images/img-service-icon1.png","","Photography","Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
      +serviceItem("../images/img-service-icon2.png","","Web Design","Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
      +serviceItem("../images/img-service-icon3.png","","Creativity","Dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")
    ul.service-list
      +serviceItem("../images/img-service-icon4.png","","SEO","Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.")
      +serviceItem("../images/img-service-icon5.png","","Css/Html","Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.")
      +serviceItem("../images/img-service-icon6.png","","Digital","Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.")