section.story
  .container
    +blockBox("Our stories","Latest blog")
    ul.story-list
      +storyItem("../images/img-blog1.png","15","Jan","Lorem ipsum dolor sit amet","Consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.","542","17")
      +storyItem("../images/img-blog2.png","14","Jan","sed do eiusmod tempor","Adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.","992","42")
      +storyItem("../images/img-blog3.png","12","Jan","incididunt ut labore et dolore","Elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.","1560","98")

section.map
  .container
    .map-content
      img(src="../images/img-map-icon.png", alt="").map-image
      h2.map-heading Open Map