section.quote.bg--light
  .container
    .quote-wrap
      //- i.fal.fa-angle-left.quote-arrow-left.quote-arrow
      +quoteItem("../images/img-quote-avatar.png", true, "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.","Joshua Earle")
      +quoteItem("../images/img-quote-avatar.png", true)
      +quoteItem("../images/img-quote-avatar.png", true)
      //- i.fal.fa-angle-right.quote-arrow-right.quote-arrow