html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.text {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  font-style: italic; }

.text--light {
  font-weight: 300; }

.text--normal {
  font-style: normal; }

a {
  text-decoration: none; }

img {
  display: block;
  max-width: 100%; }

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1;
  color: #333333;
  font-size: 1.4rem; }

input, button {
  font-family: "Montserrat", sans-serif;
  outline: none; }

button {
  cursor: pointer;
  background-color: transparent; }

.bg--light {
  background-color: #fff !important; }

.wrapper {
  max-width: 1920px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px; }

.block-box {
  text-align: center;
  max-width: 96rem;
  margin-left: auto;
  margin-right: auto; }
  .block-box-caption {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    margin-bottom: 2rem; }
  .block-box-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 3rem;
    padding-bottom: 3.7rem;
    margin-bottom: 4.4rem;
    position: relative; }
    .block-box-title::after {
      content: '';
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      width: 6rem;
      height: 0.4rem;
      background-color: #f38181; }
  .block-box-desc {
    font-family: "Roboto", sans-serif;
    font-size: 1.5rem;
    color: #999999;
    margin-bottom: 10rem; }
  @media screen and (max-width: 767px) {
    .block-box .block-box-caption {
      font-size: 2rem;
      margin-bottom: 1rem; }
    .block-box .block-box-title {
      font-size: 2.5rem;
      padding-bottom: 2rem;
      margin-bottom: 2.5rem; }
    .block-box .block-box-desc {
      font-size: 1.4rem;
      margin-bottom: 5rem; } }

.header {
  min-height: 1000px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(241, 216, 138, 0.8))), url("../images/img-header-bg.jpg") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(241, 216, 138, 0.8)), url("../images/img-header-bg.jpg") no-repeat center/cover;
  color: #fff; }
  .header-logo {
    font-size: 3rem;
    font-weight: bold; }
  .header a {
    color: #fff; }
  .header-top {
    padding-top: 2.8rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .header-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-menu-link {
    text-transform: uppercase;
    display: inline-block;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear; }
  .header-content {
    padding-top: 17rem;
    text-align: center;
    max-width: 80rem;
    margin: 0 auto; }
  .header-content-caption {
    font-size: 7.2rem;
    margin-bottom: 3rem;
    font-family: "Kaushan Script", cursive; }
  .header-content-main {
    font-weight: 800;
    font-size: 15rem;
    text-transform: uppercase;
    padding-bottom: 6rem;
    margin-bottom: 5rem;
    position: relative; }
    .header-content-main::after {
      content: '';
      bottom: 0;
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 6rem;
      height: 0.5rem;
      background-color: #fff; }
  .header-content-more {
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem 3rem;
    border: 3px solid #fff;
    display: inline-block; }
  .header-bottom {
    margin-top: 15.5rem;
    padding-bottom: 2.8rem;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px; }
    .header-bottom-text {
      text-transform: uppercase;
      font-size: 1.8rem;
      margin-left: 1rem; }
    .header-bottom-number {
      font-weight: bold;
      font-size: 2.4rem; }
    .header-bottom-item {
      border-top: 5px solid #fff;
      padding-top: 2.5rem;
      opacity: 0.6;
      position: relative;
      cursor: pointer; }
      .header-bottom-item::before {
        content: '';
        position: absolute;
        width: 6rem;
        height: 0.5rem;
        top: 0;
        left: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%); }
      .header-bottom-item.is-active {
        opacity: 1; }
        .header-bottom-item.is-active::before {
          background-color: #f38181; }
  @media screen and (min-width: 768px) {
    .header .header-menu-item:not(:first-child) {
      margin-left: 5rem; }
    .header .header-menu-link {
      padding-bottom: 10px;
      border-bottom: 4px solid transparent; }
      .header .header-menu-link:hover {
        color: #f1d88a;
        border-bottom-color: #f1d88a; }
    .header .header-toggle {
      display: none; } }
  @media screen and (max-width: 1023px) {
    .header {
      min-height: unset; }
      .header .header-content {
        padding-top: 10rem; }
        .header .header-content-main {
          font-size: 10rem; }
      .header .header-bottom {
        margin-top: 10rem; } }
  @media screen and (max-width: 767px) {
    .header .header-content {
      padding-top: 5rem; }
      .header .header-content-caption {
        font-size: 3rem;
        margin-bottom: 1rem; }
      .header .header-content-main {
        font-size: 5rem;
        margin-bottom: 3rem;
        padding-bottom: 3rem; }
      .header .header-content-more {
        font-size: 1rem; }
    .header .header-bottom {
      margin-top: 5rem; }
      .header .header-bottom-text {
        display: none; }
      .header .header-bottom-item {
        text-align: center;
        padding-top: 1.5rem; }
        .header .header-bottom-item::before {
          width: 35%; }
    .header .header-menu {
      position: fixed;
      right: 0;
      top: 0;
      bottom: 0;
      background-color: #fff;
      width: 15rem;
      height: auto;
      display: block;
      padding: 20px 25px;
      z-index: 3;
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      text-align: center; }
      .header .header-menu-link, .header .header-menu-icon {
        color: #999999;
        width: 100%;
        height: auto;
        padding: 1rem;
        margin-bottom: 3px;
        border-radius: 4px;
        display: inline-block; }
        .header .header-menu-link:hover, .header .header-menu-icon:hover {
          background-color: #f38181;
          color: #fff; }
    .header .header-toggle {
      -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
      cursor: pointer; }
    .header .header-menu.is-expand {
      -webkit-transform: translateX(0);
      transform: translateX(0); } }

.about {
  padding-top: 9rem;
  padding-bottom: 11rem;
  background-color: #fff; }
  .about-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 3rem; }
  .about .about-item {
    cursor: pointer;
    position: relative;
    z-index: 1; }
    .about .about-item > * {
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      will-change: transform; }
    .about .about-item .about-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(241, 216, 138, 0.8))) no-repeat center/cover;
      background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(241, 216, 138, 0.8)) no-repeat center/cover;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.25s linear;
      transition: all 0.25s linear;
      z-index: 3; }
    .about .about-item::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #95e1d3;
      z-index: -1; }
    .about .about-item:hover .about-content {
      opacity: 1;
      visibility: visible; }
    .about .about-item:hover > * {
      -webkit-transform: translate(-1rem, -1rem);
      transform: translate(-1rem, -1rem); }
  .about-content {
    color: #fff;
    text-transform: uppercase;
    padding: 1rem; }
  .about-icon {
    font-size: 2rem; }
  .about-title {
    font-weight: bold;
    font-size: 1.8rem;
    margin-top: 1rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: center;
    color: red; }
  @media screen and (max-width: 767px) {
    .about {
      padding-block: 5rem; }
      .about .about-list {
        display: -ms-grid !important;
        display: grid !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        grid-auto-columns: 80%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-column-gap: 2.5rem;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        padding: 2rem; }
        .about .about-list::-webkit-scrollbar {
          display: none; }
        .about .about-list > * {
          scroll-snap-align: start;
          width: auto; }
      .about-image {
        width: 100%; } }

.number {
  background-color: #95e1d3; }
  .number-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .number-item {
    padding-block: 8.5rem;
    color: #fff;
    border-left: 1px solid #fff;
    text-align: center;
    text-transform: uppercase;
    width: 20%; }
    .number-item:last-child {
      border-right: 1px solid #fff; }
  .number-item-count {
    font-size: 7.2rem;
    font-weight: bold;
    margin-bottom: 2rem; }
  .number-item-title {
    line-height: 1.4; }
  @media screen and (max-width: 1023px) {
    .number-item {
      padding-block: 5rem; }
    .number-item-count {
      font-size: 5rem;
      margin-bottom: 1rem; }
    .number-item-title {
      font-size: 1.2rem; } }
  @media screen and (max-width: 767px) {
    .number-list {
      display: block; }
    .number-item {
      width: 100%;
      border-left: 0;
      padding-block: 2.5rem; }
      .number-item:last-child {
        border-right: 0; }
      .number-item:not(:last-child) {
        border-bottom: 1px solid #fff; } }

.service {
  padding-block: 10rem 12rem; }
  .service-list {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 8rem; }
    .service-list:first-of-type {
      margin-block: 6rem 4.5rem;
      border-bottom: 1px solid #d2d2d2;
      padding-bottom: 5rem; }
  .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .service-item-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .service-item-icon {
    margin-right: 3rem;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .service-item-title {
    margin-bottom: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.4; }
  .service-item-desc {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #999999;
    line-height: 1.5; }
  @media screen and (max-width: 767px) {
    .service {
      padding-block: 5rem; }
      .service .service-list {
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-row-gap: 3rem; }
        .service .service-list:first-of-type {
          margin-block: 3rem;
          padding-bottom: 3rem;
          border-bottom: 1px solid #d2d2d2; }
      .service .service-item {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; } }

.device {
  padding-top: 10rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0.7))), url("../../images/img-device-bg.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.7)), url("../../images/img-device-bg.png") no-repeat center/cover; }
  .device-image {
    display: inline-block;
    margin: 0 auto -9.3rem;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }
  @media screen and (max-width: 767px) {
    .device {
      padding-top: 5rem; }
      .device .device-image {
        max-width: 80%;
        margin-bottom: -6.6rem; } }
  @media screen and (max-width: 479px) {
    .device .device-image {
      margin-bottom: -4.4rem; } }
  @media screen and (max-width: 376px) {
    .device .device-image {
      margin-bottom: -4rem; } }
  @media screen and (max-width: 321px) {
    .device .device-image {
      margin-bottom: -3.3rem; } }

.wedo {
  padding-block: 11rem 12rem; }
  .wedo-image {
    -o-object-fit: cover;
    object-fit: cover; }
  .wedo-item-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 1.5rem;
    border: 1px solid #d2d2d2; }
  .wedo-item.is-active .wedo-item-content {
    display: block; }
  .wedo-item-title {
    margin-right: auto;
    font-weight: bold;
    text-transform: uppercase;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 40%;
    max-width: 40%;
    white-space: pre-wrap;
    word-break: break-word; }
  .wedo-item-icon {
    margin-right: 1.5rem; }
  .wedo-item-arrow {
    color: #d2d2d2;
    font-size: 3rem; }
  .wedo-item-content {
    border: 1px solid #d2d2d2;
    padding: 2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    line-height: 1.5;
    font-size: 1.5rem;
    border-top: 0;
    display: none; }
  .wedo-item-desc {
    height: 13rem;
    overflow-y: auto;
    padding-right: 2rem; }
    .wedo-item-desc::-webkit-scrollbar {
      width: 0.6rem; }
    .wedo-item-desc::-webkit-scrollbar-track {
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 6px #d2d2d2;
      box-shadow: inset 0 0 6px #d2d2d2; }
    .wedo-item-desc::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color: #95e1d3; }
  @media screen and (max-width: 767px) {
    .wedo {
      padding-block: 5rem; }
      .wedo-image {
        margin-bottom: 3rem; }
      .wedo-item-header {
        margin-top: 1rem; } }
  @media screen and (min-width: 768px) {
    .wedo-wrap {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
    .wedo-image, .wedo-content {
      width: calc(50% - 1.5rem); }
    .wedo-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: stretch;
      -ms-flex-align: stretch;
      align-items: stretch;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }

.quote {
  background-color: #f8f8f8;
  padding-block: 7rem; }
  .quote-item {
    margin-inline: 5.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    outline: none; }
  .quote-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: 15rem;
    height: 15rem;
    border: 3px solid #95e1d3;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 6rem; }
  .quote-image {
    width: 21rem;
    height: 21rem;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 50%;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 2.5rem; }
  .quote-desc {
    font-size: 2.4rem;
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
    color: #999999;
    margin-bottom: 3.4rem; }
  .quote-author {
    font-family: "Kaushan Script", cursive;
    font-size: 2.4rem;
    position: relative;
    padding-left: 7rem; }
    .quote-author::before {
      content: "";
      width: 6rem;
      height: 0.4rem;
      background-color: #f38181;
      position: absolute;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0; }
  @media screen and (max-width: 767px) {
    .quote {
      padding-block: 5rem; }
      .quote .quote-item {
        margin-inline: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
      .quote .quote-image {
        margin-right: 0; }
      .quote .quote-icon {
        width: 10rem;
        height: 10rem;
        margin-right: 0; }
        .quote .quote-icon img {
          max-width: 50%; }
      .quote .quote-info {
        text-align: center;
        padding-left: 0;
        margin-top: 1rem; }
      .quote .quote-desc {
        font-size: 1.6rem; }
      .quote .quote-author {
        font-size: 2rem; } }

.slick-initialized .slick-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slick-arrow {
  color: #d2d2d2;
  font-size: 3rem;
  cursor: pointer;
  padding: 2rem;
  border: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 2; }

.slick-prev {
  left: 0; }

.slick-next {
  right: 0; }

.team {
  --image-height: 47rem;
  padding-block: 9.5rem 11.5rem; }
  .team-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .team-info {
    padding: 3rem 1.5rem;
    text-align: center;
    height: calc(100% - var(--image-height));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .team-item {
    width: calc(33.33% - 2rem); }
  .team-image {
    width: 100%;
    height: var(--image-height);
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  .team-name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word; }
  .team-position {
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    color: #999999;
    font-style: italic; }
  .team-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .team-social-item:not(:first-child) {
    border-left: 1px solid #f38181; }
  .team-social-link {
    width: 6rem;
    height: 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    font-size: 2rem;
    color: #f38181;
    background-color: #f1d88a;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear; }
    .team-social-link:hover {
      color: #fff;
      background-color: #f38181; }
  @media screen and (max-width: 1023px) {
    .team {
      --image-height: 40rem;
      padding-block: 5rem; }
      .team .team-list {
        display: -ms-grid !important;
        display: grid !important;
        -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
        justify-content: flex-start !important;
        grid-auto-columns: 60%;
        grid-auto-flow: column;
        -ms-grid-columns: unset;
        grid-template-columns: unset;
        grid-column-gap: 2.5rem;
        overflow-x: auto;
        -ms-overflow-style: none;
        scrollbar-width: none;
        -ms-scroll-snap-type: x mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-stop: always;
        padding: 2rem; }
        .team .team-list::-webkit-scrollbar {
          display: none; }
        .team .team-list > * {
          scroll-snap-align: start;
          width: auto; }
      .team .team-item {
        width: 100%; } }
  @media screen and (max-width: 767px) {
    .team .team-list {
      display: -ms-grid !important;
      display: grid !important;
      -webkit-box-pack: start !important;
      -ms-flex-pack: start !important;
      justify-content: flex-start !important;
      grid-auto-columns: 90%;
      grid-auto-flow: column;
      -ms-grid-columns: unset;
      grid-template-columns: unset;
      grid-column-gap: 2.5rem;
      overflow-x: auto;
      -ms-overflow-style: none;
      scrollbar-width: none;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      padding: 2rem; }
      .team .team-list::-webkit-scrollbar {
        display: none; }
      .team .team-list > * {
        scroll-snap-align: start;
        width: auto; } }

.team-main {
  cursor: pointer;
  position: relative;
  z-index: 1; }
  .team-main > * {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    will-change: transform; }
  .team-main .team-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(241, 216, 138, 0.8))) no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(241, 216, 138, 0.8)) no-repeat center/cover;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    z-index: 3; }
  .team-main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    z-index: -1; }
  .team-main:hover .team-content {
    opacity: 1;
    visibility: visible; }
  .team-main:hover > * {
    -webkit-transform: translate(-1rem, -1rem);
    transform: translate(-1rem, -1rem); }

.brand {
  background-color: #f8f8f8;
  padding-block: 6.2rem; }
  .brand-image {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%; }
  @media screen and (max-width: 767px) {
    .brand {
      padding-block: 3rem; } }

.work {
  padding-top: 11rem; }
  .work-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 78rem; }
  .work-column {
    width: 25%; }
  .work-content {
    color: #fff;
    padding: 1rem;
    text-align: center; }
  .work-icon {
    margin-bottom: 1.5rem; }
  .work-title {
    text-transform: uppercase;
    margin-bottom: 1.5rem;
    line-height: 1.4;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word; }
  .work-item {
    height: 50%; }
  .work-item--full {
    height: 100%; }
  .work-image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover; }
  @media screen and (max-width: 1600px) {
    .work .work-list {
      height: 60rem; } }
  @media screen and (max-width: 1279px) {
    .work .work-list {
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      overflow: hidden;
      height: auto; }
    .work .work-column {
      width: 50%; }
    .work .work-item {
      height: 42rem; }
    .work .work-item--full {
      height: 84rem; } }
  @media screen and (max-width: 767px) {
    .work {
      padding-top: 5rem; }
      .work .work-column {
        width: 100%; }
      .work-item, .work-item--full {
        height: auto; } }

.work-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (30rem)[2];
  grid-template-rows: repeat(2, 30rem);
  grid-template-areas: "h1 h2 h5 h6" "h3 h4 h5 h7"; }
  .work-grid .work-item {
    height: 100% !important; }
    .work-grid .work-item:first-child {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
      grid-area: h1; }
    .work-grid .work-item:last-child {
      -ms-grid-row: 2;
      -ms-grid-column: 4;
      grid-area: h7; }
    .work-grid .work-item:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
      grid-area: h2; }
    .work-grid .work-item:nth-child(3) {
      -ms-grid-row: 2;
      -ms-grid-column: 1;
      grid-area: h3; }
    .work-grid .work-item:nth-child(4) {
      -ms-grid-row: 2;
      -ms-grid-column: 2;
      grid-area: h4; }
    .work-grid .work-item:nth-child(5) {
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
      -ms-grid-column: 3;
      grid-area: h5; }
    .work-grid .work-item:nth-child(6) {
      -ms-grid-row: 1;
      -ms-grid-column: 4;
      grid-area: h6; }
  @media screen and (max-width: 767px) {
    .work-grid {
      display: block; } }

.work-item {
  cursor: pointer;
  position: relative;
  z-index: 1; }
  .work-item > * {
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    will-change: transform; }
  .work-item .work-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(243, 129, 129, 0.8)), to(rgba(241, 216, 138, 0.8))) no-repeat center/cover;
    background: linear-gradient(to bottom, rgba(243, 129, 129, 0.8), rgba(241, 216, 138, 0.8)) no-repeat center/cover;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 0.25s linear;
    transition: all 0.25s linear;
    z-index: 3; }
  .work-item::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #95e1d3;
    z-index: -1; }
  .work-item:hover .work-content {
    opacity: 1;
    visibility: visible; }

.people {
  padding: 10.5rem 0 6rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.8))), url("../../images/img-people-bg.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url("../../images/img-people-bg.png") no-repeat center/cover; }
  .people-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 9rem;
    padding-inline: 4rem; }
  .people-item {
    width: calc(50% - 4rem);
    margin-bottom: 7rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .people-avatar {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    border-radius: 50%;
    width: 11rem;
    height: 11rem;
    -o-object-fit: cover;
    object-fit: cover; }
  .people-info {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 3rem; }
  .people-name {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 1.5rem; }
  .people-job {
    margin-bottom: 2.5rem;
    padding-bottom: 2.5rem;
    display: inline-block;
    color: #333333;
    position: relative; }
    .people-job::after {
      content: '';
      width: 6rem;
      height: 0.4rem;
      position: absolute;
      left: 0;
      bottom: 0;
      background-color: #f38181; }
  .people-desc {
    color: #999999;
    font-size: 1.5rem;
    line-height: 1.5; }
  @media screen and (max-width: 1023px) {
    .people {
      padding: 5rem 0 1rem; }
      .people-item {
        width: 100%;
        margin-bottom: 4rem; } }
  @media screen and (max-width: 767px) {
    .people-list {
      padding: 0;
      margin-top: 6rem; }
    .people-avatar {
      width: 6rem;
      height: 6rem; } }

.story {
  padding-block: 11rem;
  background-color: #fff; }
  .story-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .story-item {
    width: calc(33.33% - 2rem); }
  .story-media {
    position: relative;
    margin-bottom: 2rem; }
  .story-image {
    width: 100%;
    height: 24rem;
    -o-object-fit: cover;
    object-fit: cover; }
  .story-date {
    padding: 1.5rem 2rem;
    background-color: #95e1d3;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    color: #fff;
    position: absolute;
    bottom: 1rem;
    left: -1rem;
    z-index: 2; }
  .story-date-number {
    font-weight: bold;
    font-size: 3rem; }
  .story-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 2rem;
    line-height: 1.4; }
  .story-desc {
    color: #999999;
    font-style: normal;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5; }
  .story-meta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .story-meta-item:first-child {
    margin-right: 2rem; }
  .story-meta-icon {
    color: #95e1d3;
    margin-right: 5px; }
  .story-meta-count {
    color: #b3b3b3; }
  @media screen and (max-width: 1023px) {
    .story {
      padding-block: 5rem; }
      .story-image {
        height: 16rem; }
      .story-date {
        padding: 1.5rem; }
      .story-date-number {
        font-size: 2rem; }
      .story-date-text {
        font-size: 1.3rem; }
      .story-title {
        font-size: 1.2rem; }
      .story-desc {
        font-size: 1.3rem; }
        .story-desc-inner {
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          max-width: 100%;
          white-space: pre-wrap;
          word-break: break-word; } }
  @media screen and (max-width: 767px) {
    .story {
      padding-bottom: 0; }
      .story-list {
        display: block; }
      .story-item {
        width: 100%;
        margin-bottom: 5rem; }
      .story-date {
        bottom: 5px;
        left: -5px; }
      .story-image {
        height: 24rem; } }

.map {
  padding-block: 6rem 5.5rem;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.9)), to(rgba(255, 255, 255, 0.8))), url("../../images/img-map.png") no-repeat center/cover;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.8)), url("../../images/img-map.png") no-repeat center/cover; }
  .map-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .map-heading {
    color: #f38181;
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 2.4rem;
    margin-top: 1.5rem;
    padding-bottom: 2rem; }
    .map-heading::after {
      content: "";
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      bottom: 0;
      width: 6rem;
      height: 0.4rem;
      background-color: #f38181; }

.footer-top {
  padding-block: 7.5rem 7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.footer-heading {
  text-transform: uppercase;
  font-weight: bold;
  height: 4rem;
  display: inline-block;
  margin-bottom: 2rem; }

.footer-bottom {
  text-align: center;
  font-weight: bold;
  padding: 2.5rem 0;
  border-top: 1px solid #e5e5e5; }
  .footer-bottom span {
    color: #f38181; }

@media screen and (max-width: 1023px) {
  .footer {
    padding-block: 3rem; }
    .footer .footer-top {
      display: block; }
    .footer .footer-column:not(:nth-child(999)) {
      width: 100%; }
    .footer .footer-column:not(:last-child) {
      margin-bottom: 3rem; } }

.footer-column:first-child {
  width: calc(40% - 2.5rem); }
  .footer-column:first-child .footer-heading--logo {
    font-size: 4.6rem;
    color: #cccccc;
    text-transform: none; }
  .footer-column:first-child .footer-desc {
    font-style: normal;
    margin-bottom: 4.5rem;
    margin-top: 2rem; }
  .footer-column:first-child .footer-follower {
    font-weight: bold;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #e5e5e5; }
    .footer-column:first-child .footer-follower strong {
      font-size: 1.8rem; }
  .footer-column:first-child .footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 3.5rem; }
  .footer-column:first-child .footer-social-icon {
    color: #95e1d3;
    margin-left: 1.5rem; }
  .footer-column:first-child .footer-form {
    width: 100%;
    max-width: 38rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .footer-column:first-child .footer-form-input {
    background-color: #fff;
    padding: 1.5rem;
    border: 1px solid #e5e5e5;
    border-right: 0;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    width: 100%;
    border-radius: 0;
    line-height: normal; }
    .footer-column:first-child .footer-form-input::-webkit-input-placeholder {
      color: #999999; }
    .footer-column:first-child .footer-form-input::-moz-placeholder {
      color: #999999; }
    .footer-column:first-child .footer-form-input::-ms-input-placeholder {
      color: #999999; }
    .footer-column:first-child .footer-form-input::placeholder {
      color: #999999; }
  .footer-column:first-child .footer-form-button {
    text-transform: uppercase;
    padding: 1.5rem 3.5rem;
    color: #fff;
    background-color: #95e1d3;
    border: 1px solid #e5e5e5;
    font-weight: bold;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    font-size: 1.4rem;
    border-radius: 0; }

.footer-column:nth-child(2) {
  width: calc(35% - 2.5rem); }
  .footer-column:nth-child(2) .footer-blog {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 3rem; }
  .footer-column:nth-child(2) .footer-blog-image {
    width: 12rem;
    height: 8rem;
    -o-object-fit: cover;
    object-fit: cover;
    -ms-flex-negative: 0;
    flex-shrink: 0; }
  .footer-column:nth-child(2) .footer-blog-info {
    padding-left: 2rem; }
  .footer-column:nth-child(2) .footer-blog-title {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    line-height: 1.4;
    color: #333333;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word; }
  .footer-column:nth-child(2) .footer-blog-date {
    color: #999999; }
  @media screen and (max-width: 479px) {
    .footer-column:nth-child(2) .footer-form-button {
      padding: 1.5rem; } }

.footer-column:last-child {
  width: calc(25% - 2.5rem); }
  .footer-column:last-child .footer-images {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: -2px;
    margin-bottom: 2rem; }
  .footer-column:last-child .footer-image {
    width: calc(33.33% - 2px);
    height: 0;
    position: relative;
    padding-bottom: 33.33%;
    margin-left: 2px; }
    .footer-column:last-child .footer-image:not(:last-child) {
      margin-bottom: 2px; }
    .footer-column:last-child .footer-image img {
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0; }
  .footer-column:last-child .footer-more {
    color: #333333; }
